body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

#sidebar {
  width: 20vw;
  height: 100vh;
}

#instructions {
  margin: 20px 0;
}

.form-control {
  display: inline-block;
  width: 50px;
}

label {
  width: 130px;
}

button {
  margin-top: 20px;
}