body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

#sidebar {
  width: 20vw;
  height: 100vh;
}

#instructions {
  margin: 20px 0;
  margin-top: 0;
  padding-top: 5%;
}

.form-control {
  display: inline-block;
  width: 50px;
}

label {
  width: 130px;
}

button {
  margin-top: 20px;
}

#heading {
  padding-top: .5%;
  padding-bottom: .5%;
  margin-bottom: 0%;
}

nav .container {
  margin-left: 0%;
  margin-bottom: 0%;
}

.desc {
  width: 100%;
  margin-bottom: 0%;
  padding-top: 2%;
}

.item {
  padding-top: 2%;
  padding-bottom: 2%;
}

#submit {
  width: 100%;
}